@tailwind base;
@tailwind components;
@tailwind utilities;


.menu-item {
  @apply mb-2 flex h-8 cursor-pointer items-center border-b border-gray-300 last:border-none dark:border-gray-600;
}

.icon {
  @apply mr-2 h-[23px] w-[20px];
}
.container {
  @apply mx-auto w-[1440px];
}
.border{
  @apply border-[1px] border-black dark:border-white
}
/* Для всех браузеров */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield; /* Для Firefox */
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.flex {
  display: flex;
}

.min-h-screen {
  min-height: 100vh;
}

.flex-col {
  flex-direction: column;
}

.flex-grow {
  flex-grow: 1;
}
.light body {
  background-color: #ffffff;
  color: #000000;
  border:#000000;
}

.dark body {
  background-color: black;
  color:white
}
