@tailwind base;
@tailwind components;
@tailwind utilities;

.menu-item {
  @apply flex items-center border-b border-gray-300 dark:border-gray-600 h-8 mb-2 last:border-none cursor-pointer;
}

.icon {
  @apply w-[20px] h-[23px] mr-2;
}
.container {
  @apply w-[1440px] mx-auto;
}

/* Для всех браузеров */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield; /* Для Firefox */
}


html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.flex {
  display: flex;
}

.min-h-screen {
  min-height: 100vh;
}

.flex-col {
  flex-direction: column;
}

.flex-grow {
  flex-grow: 1;
}
.light body {
  background-color: #ffffff;
  color: #000000;
}


.dark body {
  background-color: black;
  color: #ffffff;
}